# Server Port (default 3000)
PORT=3000

# Database Connection (PostgreSQL)
DATABASE_URL=

# Polar.sh API Key for Checkout
POLAR_ACCESS_TOKEN=

# Resend API Key for Email Notifications
RESEND_API_KEY=
